{# templates/post/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>
    <ul id="post-list">
        {% for post in posts %}
            <li>
                <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.titre }}</a>
                <button data-id="{{ post.id }}" class="delete-post">Delete</button>
            </li>
        {% endfor %}
    </ul>
    
    <div class="pagination">
        {% if page_actuelle > 1 %}
            <a href="{{ path('post_index', {'page': page_actuelle - 1}) }}">Previous</a>
        {% endif %}
        {% if page_actuelle < total_pages %}
            <a href="{{ path('post_index', {'page': page_actuelle + 1}) }}">Next</a>
        {% endif %}
    </div>

    <script>
        document.querySelectorAll('.delete-post').forEach(button => {
            button.addEventListener('click', (event) => {
                const postId = event.target.getAttribute('data-id');
                if (confirm('Are you sure you want to delete this post?')) {
                    axios.post(`/posts/${postId}/delete`)
                        .then(() => {
                            event.target.parentElement.remove();
                        })
                        .catch(error => console.error(error));
                }
            });
        });
    </script>
{% endblock %}
